POSTGRES_DB=transportes_tobon
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here
ConnectionStrings__DefaultConnection=Host=db;Database=transportes_tobon;Username=postgres;Password=your_password_here;Port=5432
